[Unit]
Description=Raspberry Pi PWM Fan Controller Service
After=multi-user.target

[Service]
Type=simple
User=root
# 项目的位置
WorkingDirectory=/path/to/RPiFan
ExecStart=/usr/bin/python3 -m src.backend
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
